@media screen and (min-width: 200px) {
    .brand{
        width: 18vw;
    }
    .nitem{
        width: 100%;
    }
  }
@media screen and (min-width: 992px) {
    .brand{
        width: 35vw;
    }
    .nitem{
        width: 12vw;
    }
  }
@media screen and (min-width: 1200px) {
    .brand{
        width: 28vw;
    }
    .nitem{
        width: 14vw;
    }
  }

body{
    min-height: 100vh;
}
@media screen and (min-width: 200px) {
    .banner{
        height: 35vh;
        width:100vw;
        object-fit: cover;
    }
  }
@media screen and (min-width: 992px) {
    .banner{
        height: 50vh;
        width:100vw;
        object-fit: cover;
    }
  }
  @media screen and (min-width: 1200px) {
    .banner{
        height: 60vh;
        width:100vw;
        object-fit: cover;
    }
  }

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem !important;
}
.bannercontain{
    position: relative;
}
.nav-item:hover{
    background-color: rgb(200, 200, 200);
}
#app{
    background-color: rgb(240, 240, 240);
}

.banner-text{
    background-color: rgba(255,255,255,0.5);
}
.intro-title {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
}
.team-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
}

.wallpapercontain{
    position: relative;
    background-image: url("wallpaper1.jpg");
    opacity: 0.5;
}